{% extends base.html %}
{%block head%}

<script type="text/javascript" src="/static/js/js.cookie.js"></script>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$(function () {
  $('[data-toggle="popover"]').popover()
})


function ShowHide() {
	document.getElementById("input_rank").style.display = 'none';
	document.getElementById("input_usage").style.display = 'none';
	document.getElementById("submit_message").style.display = 'none';
	document.getElementById("bad_input").style.display = 'none';

	$("#rank").click(function() {
		if ( $("#rank").is(":checked") ){
		    $("#input_rank").show();
		    $("#input_usage").hide();
		    $("#input_rank").prop("required", true);
		    $("#input_usage").prop("required", false);
		}
	});

    $("#usage").click(function() {
		$("#input_rank").hide();
		$("#input_usage").show();
		$("#input_usage").prop("required", true);
		$("#input_rank").prop("required", false);
	});

	if ( $("#usage").is(":checked") ) {
		$("#input_rank").hide();
		$("#input_usage").show();
		$("#input_usage").prop("required", true);
		$("#input_rank").prop("required", false);
	}

	if ( $("#rank").is(":checked") ) {
		$("#input_rank").show();
		$("#input_usage").hide();
		$("#input_rank").prop("required", true);
		$("#input_usage").prop("required", false);
	}

    if ( $("#custom_usage").is(":checked") ) {
	    $("#custom_table").show();
	    if ( $("input:file").val() ) {
	    	CheckforNewAA();
	    }
	}

    $("input[name=usage_table]").click(function() {
		if ( $("input[name=usage_table]:checked").val() != "custom" ) {
			$("#additional_aa").empty();
			GetUsage();
			$("#bad_input").hide();
			$("#submit_message").hide();
			$("#custom_codon_usage").wrap("<form>").closest("form").get(0).reset();
			$("#custom_codon_usage").unwrap();
		} else {
			$("input:file").change(function () {
				CheckforNewAA();
			});
		}
	})

	$("form").submit(function(event) {
		if ( $("#usage").is(':checked') && CheckUsage() ) {
			$("#submit_message").show();
			$(this).unbind('submit').submit();
		}
	});
}

function CheckUsage() {
    const value = parseFloat($("#input_usage").val());
    if (value >= 0 && value < 1) {
        return true;
    } else {
        return false;
    }
}

function uploadUsageTable() {
	document.getElementById("custom_codon_usage").addEventListener("change", readFile, false);
}

function readFile(event) {
	if(window.FileReader){
		var show_submit_message = true;
		var files = event.target.files;
		var file = files[0];
		var reader = new FileReader();
		var error_message = "The file you entered is not formatted correctly. Please use the Example Input as a template. Fields are tab-separated, and there is an empty line at the end of the file. Note that the first line is ignored.";
		reader.readAsText(file);
		reader.onload = function() {
			var lines = this.result.split('\n');
			if ( lines.length != 66 || lines[lines.length - 1] != "" ){
				$("form").submit(function(event) {
					event.preventDefault();
				});
				show_submit_message = false;
				alert(error_message);
				$("form").submit(function(event) {
					$("#bad_input").show();
				});
				return;
			}
			for(var line = 1; line < lines.length - 1; line++){
				var tokens = (lines[line]).split('\t');
				//console.log(tokens.length);
				if ( tokens.length != 3 || tokens[0].length != 3 || isNaN(tokens[2]) ) {
					$("form").submit(function(event) {
						event.preventDefault();
					});
					show_submit_message = false;
					alert(error_message);
				}
				else {
					if ( show_submit_message ){
						$("form").submit(function(event) {
							$("#submit_message").show();
							$("#bad_input").hide();
							$(this).unbind('submit').submit();
						});
					} else {
						$("form").submit(function(event) {
							$("#bad_input").show();
							event.preventDefault();
						});
					}
				}
			}
			return lines;
		}
	}
	else {
		alert("Your Browser does not support uploading files on this site. Please use Chrome, Firefox, or Safari.");
	}
}

</script>

{%end%}

{% block content%}

<body onload="ShowHide();uploadUsageTable();">

<div>
<div class="row">
  <h3>SEQUENCE</h3>
</div>

<div>

<form enctype="multipart/form-data" method="post" id="form" name="form" action="/sequence/">

<div class="row">
	<div class = "col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">Choose your organism:</div>
		<div class="panel-body">
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="Ecoli" style="margin-right:10px;" required>
				<label><em>E. coli</em></label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="yeast" style="margin-right:10px;">
				<label>yeast</label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="human" style="margin-right:10px;">
				<label>human</label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="mouse" style="margin-right:10px;">
				<label>mouse</label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="Dmel" style="margin-right:10px;">
				<label><em>D. melanogaster</em></label>
			</div>
			<div class="col-sm-4">
				<input type="radio" name="usage_table" value="Cele" style="margin-right:10px;">
				<label><em>C. elegans</em></label>
			</div>
			<div class="col-sm-6">
				<input id="custom_usage" type="radio" name="usage_table" value="custom" style="margin-right:10px;">
				<label>Upload custom genetic code</label>
				<div id="custom_table" style="display:none">
					<input type="file" name="table" id="custom_codon_usage">
					<a href="/static/txt/UsageTableExample.txt">Example Input</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="row">
	<div class = "col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">Sequence Information:
            <label>Backbone</label>
            <input type="text" value="" name="backbone" id="backbone">
            <label>Edits</label>
            <input type="text" value="" name="edits" id="edits">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Enter codon <a tabindex="0" role="button" id="rank_popover" data-toggle="popover" data-trigger="focus" title="Rank" data-content="Codon 'rank' refers to the rank-order of the codon's usage. For example, the most frequently used codon for a particular amino acid will have a rank of 1. Please enter an integer value, and only codons with a rank-order less than or equal to this value will be considered during compression.">rank</a> or <a tabindex="0" role="button" id="usage_popover" data-toggle="popover" data-trigger="focus" title="Usage" data-content="Codon 'usage' refers to the fractional usage of the codon. For example, in E. coli the AAG codon has a usage of 0.23 while that of AAA has a usage fo 0.77. If you select this option, please input a fractional value as the lower bound. Only codons with usage greater than this value will be considered during compression.">usage</a> cutoff:</div>
		<div class="panel-body">
			<div class="col-sm-6">
				<input type="radio" value="rank" name="compression_method" id="rank" required checked>
				<label>Rank</label>
				<input type="text" name="input_rank" id="input_rank" value="2">
			</div>
			<div class="col-sm-6" id="usage_div">
				<input type="radio" value="usage" name="compression_method" id="usage">
				<label>Usage</label> (max allowed value is not checked)
				<input type="text" name="input_usage" id="input_usage">
				<span id="usage_warning"></span>
			</div>
		</div>
	</div>
	<div class="row" style="margin-left:0px;">
		<button type="submit" id="submit_button" class="btn btn-default">Compress Codons</button>
		<span id="submit_message" style="color:black;">Processing...</span>
		<span id="bad_input" style="color:red;">Your usage table is formatted incorrectly. Please use the <a href="/static/txt/UsageTableExample.txt">Example Input</a> as a template.</span>
	</div>
	</div>

</div>

</form>

</div>

</div>

</body>

{%end%}